@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"></link>
</head>
<body class="text-center">
    <p>
        <h1>Спасибо, @Model.Name!</h1>
        @if (Model.WillAttend == true)
        {
        <p>Славно, что ты придешь. Напитки уже в холодильнике!</p>
        }
        else
        {
        <p>Жалко, что тебя не будет. Спасибо, что предупредил.</p>
        }
    </p>
    <p>Нажми <a class="nav-link" asp-action="ListResponses">сюда</a>
    чтобы увидеть, кто придет</p>
</body>
</html>